/build
/*.log
/*.dll
/**/*.lib
/**/*.so
/*.exe
/*.bat
/**/*.pf
/android/bin
/android/gen
/android/libs
/android/jni
/android/obj
/android/*.bat
/multislider/server/project/project
/multislider/server/project/target
/multislider/server/target
/android/local.properties
/android/assets/assets/pf
