/build
/*.log
/*.dll
/**/*.lib
/**/*.so
/*.exe
/*.bat
/**/*.pf
/*.pf
/android/.gradle
/android/build
/android/app/build
/android/app/jniLibs/**/*.so
/android/*.bat
/android/local.properties
/multislider/server/project/project
/multislider/server/project/target
/multislider/server/target
/*.ogg
/player.str
/hiscores.str
/hiscores.dat
/dis
